<div class="ui-step">
	<ol class="steps" id="step{{page.step}}">
		<li class="step1{% if page.step == 1 %} active{% endif %}">身份验证</li>
		<li class="step2{% if page.step == 2 %} active{% endif %}">协议签署</li>
		<li class="step3{% if page.step == 3 %} active{% endif %}">三方存管</li>
	</ol>
</div>