<dl class="ui-upload">
	<dt>{{ include.content }}</dt>
	<dd><img src="/images/uploader/card-front.png" alt="身份证正面图示"></dd>
	<dd class="upload-btn">
		<a href="#" class="btn btn-upload">点击上传</a>
		<input type="file" name="{{ include.id }}" id="{{ include.id }}" class="file-input">
		<img class="upload-gif" src="{{ site.baseurl }}/images/gif/uploading.gif" alt="" style="display: none;">
	</dd>
</dl>
