%h-title {
  @include inline-block;
  color: $heading-blue;
}

.ui-title {
  margin-bottom: 20px;
  h2 {
    @extend %h-title;
    margin-right: 20px;
    font-size: $h2-size;
  }
  h3 {
    @extend %h-title;
    font-size: $h3-size;
  }
  span {
    @include inline-block;
  }
}
