.page-password {
  .wrap {
    width: 700px;
    margin: 0 auto;
  }
  .password-group {
    margin-bottom: 20px;
    .assist {
      margin-bottom: 20px;
      font-size: $small-font-size;
      color: $info-blue;
    }
  }
  .ui-agree {
    margin-bottom: 20px;
  }
}
