<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="author" content="">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" media="screen" href="{{site.baseurl}}/css/index.css">
</head>
</head>
	<body{% if page.class %} class="page-{{ page.class }}"{% endif %}>
		<!-- header -->
		{% include header.liquid %}

		<!-- content -->
		{{ content }}

		<!-- footer -->
		{% include footer.liquid %}

		<!-- load scripts -->
		{% include scripts.liquid %}
	</body>
</html>
