<p>第一条 释义
本协议中，网上交易仅指投资者通过乙方网站或乙方指定且授权的网站（以下简称“网上交易系统”）进行的账户开立、账户资料变更、认购、申购、赎回、转换、交易撤销、分红方式设置与变更、交易密码修改和查询等业务。
本协议未特别说明的其他词语和/或表述与其在相应基金合同、《基金管理有限公司开放式基金业务规则》、《基金管理有限公司开放式基金网上交易业务规则》中的具有相同含义。</p>

<p>第二条 网上交易服务的内容
本协议所述网上交易服务内容包括基金账户开立，基金账户登记，修改账户资料，设置与变更基金分红方式，基金认购，申购，赎回，转换，密码修改，交易撤销等，并提供投资者当日和历史交易记录的查询等业务功能。</p>

<p>第三条 网上交易风险提示
如果甲方申请使用乙方网上交易业务，甲方即被认为已经充分、完全、准确地了解网上交易的风险，并愿意承担由此可能带来的法律后果和投资损失。</p>

<p>第一条 释义
本协议中，网上交易仅指投资者通过乙方网站或乙方指定且授权的网站（以下简称“网上交易系统”）进行的账户开立、账户资料变更、认购、申购、赎回、转换、交易撤销、分红方式设置与变更、交易密码修改和查询等业务。
本协议未特别说明的其他词语和/或表述与其在相应基金合同、《基金管理有限公司开放式基金业务规则》、《基金管理有限公司开放式基金网上交易业务规则》中的具有相同含义。</p>

<p>第二条 网上交易服务的内容
本协议所述网上交易服务内容包括基金账户开立，基金账户登记，修改账户资料，设置与变更基金分红方式，基金认购，申购，赎回，转换，密码修改，交易撤销等，并提供投资者当日和历史交易记录的查询等业务功能。</p>

<p>第三条 网上交易风险提示
如果甲方申请使用乙方网上交易业务，甲方即被认为已经充分、完全、准确地了解网上交易的风险，并愿意承担由此可能带来的法律后果和投资损失。</p>

<p>第一条 释义
本协议中，网上交易仅指投资者通过乙方网站或乙方指定且授权的网站（以下简称“网上交易系统”）进行的账户开立、账户资料变更、认购、申购、赎回、转换、交易撤销、分红方式设置与变更、交易密码修改和查询等业务。
本协议未特别说明的其他词语和/或表述与其在相应基金合同、《基金管理有限公司开放式基金业务规则》、《基金管理有限公司开放式基金网上交易业务规则》中的具有相同含义。</p>

<p>第二条 网上交易服务的内容
本协议所述网上交易服务内容包括基金账户开立，基金账户登记，修改账户资料，设置与变更基金分红方式，基金认购，申购，赎回，转换，密码修改，交易撤销等，并提供投资者当日和历史交易记录的查询等业务功能。</p>

<p>第三条 网上交易风险提示
如果甲方申请使用乙方网上交易业务，甲方即被认为已经充分、完全、准确地了解网上交易的风险，并愿意承担由此可能带来的法律后果和投资损失。</p>

<p>第一条 释义
本协议中，网上交易仅指投资者通过乙方网站或乙方指定且授权的网站（以下简称“网上交易系统”）进行的账户开立、账户资料变更、认购、申购、赎回、转换、交易撤销、分红方式设置与变更、交易密码修改和查询等业务。
本协议未特别说明的其他词语和/或表述与其在相应基金合同、《基金管理有限公司开放式基金业务规则》、《基金管理有限公司开放式基金网上交易业务规则》中的具有相同含义。</p>

<p>第二条 网上交易服务的内容
本协议所述网上交易服务内容包括基金账户开立，基金账户登记，修改账户资料，设置与变更基金分红方式，基金认购，申购，赎回，转换，密码修改，交易撤销等，并提供投资者当日和历史交易记录的查询等业务功能。</p>

<p>第三条 网上交易风险提示
如果甲方申请使用乙方网上交易业务，甲方即被认为已经充分、完全、准确地了解网上交易的风险，并愿意承担由此可能带来的法律后果和投资损失。</p>

<p>第一条 释义
本协议中，网上交易仅指投资者通过乙方网站或乙方指定且授权的网站（以下简称“网上交易系统”）进行的账户开立、账户资料变更、认购、申购、赎回、转换、交易撤销、分红方式设置与变更、交易密码修改和查询等业务。
本协议未特别说明的其他词语和/或表述与其在相应基金合同、《基金管理有限公司开放式基金业务规则》、《基金管理有限公司开放式基金网上交易业务规则》中的具有相同含义。</p>

<p>第二条 网上交易服务的内容
本协议所述网上交易服务内容包括基金账户开立，基金账户登记，修改账户资料，设置与变更基金分红方式，基金认购，申购，赎回，转换，密码修改，交易撤销等，并提供投资者当日和历史交易记录的查询等业务功能。</p>

<p>第三条 网上交易风险提示
如果甲方申请使用乙方网上交易业务，甲方即被认为已经充分、完全、准确地了解网上交易的风险，并愿意承担由此可能带来的法律后果和投资损失。</p>
