<div class="ui-video video-ready" id="videoDetect">
	<h3 class="video-prepare-text">请确保以下设备正常</h3>
	<div class="video-detect-hardware">
		<table>
			<thead>
				<th>麦克风</th>
				<th>摄像头</th>
				<th>扬声器</th>
			</thead>
			<tbody>
				<td>
					<span class="hardware video-icon-mic">
						<i class="icon icon-success-32"></i>
						<i class="icon icon-error-32" style="display: none;"></i>
					</span>
				</td>
				<td>
					<span class="hardware video-icon-camera">
						<i class="icon icon-success-32"></i>
						<i class="icon icon-error-32" style="display: none;"></i>
					</span>
				</td>
				<td>
					<span class="hardware video-icon-speaker">
						<i class="icon icon-success-32" style="display: none;"></i>
						<i class="icon icon-error-32"></i>
					</span>
				</td>
			</tbody>
		</table>
	</div>
	<span class="btn-large btn-warn">重新检测</span>
</div>
