<div class="ui-video video-ready" id="videoError">
	<h3 class="video-prepare-text">请准备好摄像头和身份证</h3>
	<div class="video-prepare-icon"></div>
	<span class="video-tip">连接超时，网络好像不太给力，<span class="video-controll">重试</span></span>
</div>
