<div class="ui-video video-ready" id="videoQueue">
	<div class="video-waiting"></div>
	<p class="video-queue-text">前方还有 <span class="num">5</span> 人在排队，请稍等...</p>
	<span class="video-tip">目前排队人数较多，您可以选择：
		<span class="video-controll">继续等待</span>
		<span class="video-controll" id="orderBtn">预约视频</span>
		<span class="video-controll">结束视频</span>
	</span>
</div>
