<div class="ui-protocal-block">
	<div class="ui-title">
		<h2>请仔细阅读以下协议</h2>
	</div>
	<div class="protocal-block">
		<pre>{% include sample/protocal.liquid %}</pre>
	</div>
	{% include modules/agree.liquid content="我已阅读并同意以上所有协议和业务规则内容<br>&nbsp;&nbsp;&nbsp;&nbsp;以上协议包括：“协议A”、“协议B”、“协议C”、“协议D”、“协议E”" id="agreeBlock" %}
</div>
