<div class="ui-header">
	<div class="header-inner">
		{% include logo.liquid %}
		<div class="nav-right">
			<div class="nav-item service">
				<a href="#">在线客服</a>
			</div>
			<div class="nav-item hotline">
				<span>客服热线</span>
				<span class="num">95553</span>
			</div>
			<span class="vline"></span>
			<div class="nav-item faq">
				<a href="#">开户常见问题</a>
			</div>
			<span class="vline"></span>
			<div class="nav-item logout">
				<span>您好，小浪子007</span>
				<a href="#">退出</a>
			</div>
		</div>
	</div>
</div>
