---
layout: progress
class: password
title: 设置您的密码
step: 2
---

<div id="content">
	<div class="ui-title">
		<h2>{{ page.title }}</h2>
	</div>
	<div class="wrap">
	{% include modules/agree.liquid content="交易密码、资金密码、通讯密码相同" id="sync" %}
	{% for password in site.data.passwords %}
		<div class="password-group">
			<p class="assist">
				<i class="icon icon-info"></i>
				{{ password.explain }}
			</p>
			<div class="fill-group">
				<label for="{{ password.id }}" class="fill-label">{% if password.require == true %}<em class="require">*</em>{% endif %}{{ password.name }}</label>
				<div class="fill-control">
					<input type="text" class="fill-input{% unless password.class == nil %} {{ password.class }}{% endunless %}" id="{{ password.id }}">
				</div>
			</div>
			<div class="fill-group">
				<label for="{{ password.id }}Repeater" class="fill-label">{% if password.require == true %}<em class="require">*</em>{% endif %}确认{{ password.name }}</label>
				<div class="fill-control">
					<input type="password" class="fill-input{% unless password.class == nil %} {{ password.class }}{% endunless %}" id="{{ password.id }}Repeater">
				</div>
			</div>
			{% unless forloop.last %}<div class="ui-divider divider-dot"></div>{% endunless %}
		</div>
	{% endfor %}

	<!-- 下一步 -->
	{% include modules/jump.liquid %}
	</div>
</div>

